body {
  padding-top: 5rem;
  background-color: burlywood;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
  padding: 60px;
  text-align: center;
  background: #8f9796;
  color: white;
  font-size: 30px;
}

h1.intro{
  text-align: center;
  color: black;
}

ol{
  color: black;
  
}

a:link {
  color: mintcream;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: palevioletred;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: maroon;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:yellow;
  background-color: transparent;
  text-decoration: underline;
}

#A{
  border: 1px whitesmoke ;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-left: 45%;
  margin-right: 25%;
}

#B{
   text-decoration: underline;
}
