# 1. Make sure `env` is in your `.gitignore` file
#
# 2. Copy this file and rename it `env`
#
# 3. Change the environment variables to their true values
#
# Do NOT ever include your *real* env in version control

MYSQL_DATABASE=msis_triage
MYSQL_HOST=server_name.aws.com
MYSQL_USER=user_name
MYSQL_PASSWORD=password